
{% extends 'layout.html'%}
{% block title%}
    
    Portfolio - About

{% endblock%}

{% block main%}

    <section id="about">
        <h1>About Me</h1>
        <p>Hello! I'm [Your Name], a [Your Profession] based in [Your Location]. I specialize in [Your Specialization] and have worked on various projects ranging from [Example 1] to [Example 2].</p>
        <p>When I'm not working, I enjoy [Your Hobbies]. Let's connect and create something amazing together!</p>
    </section>
    
{%endblock%}
