<!DOCTYPE html>
{% load static %}
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title%}
            This is the title
        {%endblock%}

    </title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>


    <main>
        {% block main%}
            This is where main part of the website appears
        {% endblock%}
    </main>
    <footer>
        <p>&copy; 2024 Prashant7738. All rights reserved.</p>
    </footer>

    <script src = "{% static 'js/main.js'%}"></script>
</body>
</html>
