<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title%}
            I can put anything here
        {%endblock%}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class = "navigation">
        <a href="/">😍</a>|
        <a href="/about">😉</a>|
        <a href="{% url 'posts:list'%}">📰</a>|
        <a href="{%url 'user:register'%}"></a>|
       
    </nav>
    <main class="contento">
        {%block content%}
        {%endblock%}
    </main>

</body>
</html>