<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title%}
            I can put anything here
        {%endblock%}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class = "navigation">
        <a href="/">😍</a>|
        <a href="/about">😉</a>|
        <a href="{% url 'posts:list'%}">📰</a>|
       
        {% if user.is_authenticated %}
            
            <a href="{%url 'posts:new-post'%}">🆕</a>|
            <form action="{% url 'user:logout'%}" method = 'post'>
                {% csrf_token %}
                <button>👋</button>
            </form>


        {% else %}
            <a href="{%url 'user:register'%}">®️</a>
            <a href="{%url 'user:login'%}">🪵</a>|
            
        {% endif %}
       
    </nav>
    <main class="contento">
        {%block content%}
        {%endblock%}
    </main>

</body>
</html>